In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
print(spark.version)

3.4.0

In [5]:
data=spark.read.format('csv').\
option('inferschema','true').\
option('header','true').\
option('path','pysparkdata.csv').load()
data.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- BONUS: integer (nullable = true)

In [6]:
data.show()

+---+----+------+-----+
| ID|NAME|SALARY|BONUS|
+---+----+------+-----+
|  1|Arun| 20000| 3000|
|  2|  Aj| 30000| 5000|
+---+----+------+-----+

In [7]:
def totalpay(SALARY,BONUS):
    return(SALARY+BONUS)

In [8]:
totalpay(20000,3000)

23000

In [10]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql import SparkSession

# Assuming you already have a SparkSession created and a DataFrame named 'df'
# spark = SparkSession.builder.appName("example").getOrCreate()
# df = spark.read...

def totpay(s, b):
    return s + b

TotalPayment = udf(lambda salary, bonus: totpay(salary, bonus), IntegerType())

# Add a new column 'TotalPay' to the DataFrame
result = data.withColumn('TotalPay', TotalPayment(data.SALARY, data.BONUS))

# Show the resulting DataFrame